@{
    string activeTab = ViewBag.ActiveTab ?? "Profile";
}

<div class="row">
    <div class="col-md-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link @(activeTab == "Profile" ? "active" : "")" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>
            <a class="nav-link @(activeTab == "Email" ? "active" : "")" id="v-pills-email-tab" data-toggle="pill" href="#v-pills-email" role="tab" aria-controls="v-pills-email" aria-selected="false">Email</a>
            <a class="nav-link @(activeTab == "Password" ? "active" : "")" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">Password</a>
            <a class="nav-link @(activeTab == "TwoFactor" ? "active" : "")" id="v-pills-twofactor-tab" data-toggle="pill" href="#v-pills-twofactor" role="tab" aria-controls="v-pills-twofactor" aria-selected="false">Two-Factor Authentication</a>
            <a class="nav-link @(activeTab == "PersonalData" ? "active" : "")" id="v-pills-personaldata-tab" data-toggle="pill" href="#v-pills-personaldata" role="tab" aria-controls="v-pills-personaldata" aria-selected="false">Personal Data</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade @(activeTab == "Profile" ? "show active" : "")" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                @await Component.InvokeAsync("Profile")
            </div>
            <div class="tab-pane fade @(activeTab == "Email" ? "show active" : "")" id="v-pills-email" role="tabpanel" aria-labelledby="v-pills-email-tab">
                
                
            </div>
            <div class="tab-pane fade @(activeTab == "Password" ? "show active" : "")" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
                
                
            </div>
            <div class="tab-pane fade @(activeTab == "TwoFactor" ? "show active" : "")" id="v-pills-twofactor" role="tabpanel" aria-labelledby="v-pills-twofactor-tab">
                
                
            </div>
            <div class="tab-pane fade @(activeTab == "PersonalData" ? "show active" : "")" id="v-pills-personaldata" role="tabpanel" aria-labelledby="v-pills-personaldata-tab">
                
                
            </div>
        </div>
    </div>
</div>
